<div class="sidebar-panel offscreen-left">
     <div class="brand">

  <!-- logo -->
  <div class="brand-logo">
    <img src="assets/img/logo.png" height="15" alt="">
  </div>
  <!-- /logo -->

  <!-- toggle small sidebar menu -->
  <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" data-toggle="layout-small-menu">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>
  <!-- /toggle small sidebar menu -->

</div>

<!-- main navigation -->
<nav role="navigation">

  <ul class="nav">
    <!-- dashboard -->
    <li>
      <a href="#/achats">
        <i class="fa fa-flask"></i>
        <span>Gestion d'achats</span>
      </a>
    </li>
    <!-- /dashboard -->
    <!-- menu levels -->
    <li>
      <a href="javascript:;">
        <i class="fa fa-level-down"></i>
        <span>Paramétrage</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a href="javascript:;">
            <i class="toggle-accordion"></i>
            <span>Fournisseurs</span>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <i class="toggle-accordion"></i>
            <span>Ordonnateurs</span>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <i class="toggle-accordion"></i>
            <span>Acheteurs</span>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <i class="toggle-accordion"></i>
            <span>Destinataires BE</span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="javascript:;">
                <i class="toggle-accordion"></i>
                <span>Devises</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span>Mode paiement</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;">
            <span>Level 1.2</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- menu levels -->
    <!-- menu levels -->
    <li>
      <a href="javascript:;">
        <i class="fa fa-level-down"></i>
        <span>Menu Levels</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a href="javascript:;">
            <i class="toggle-accordion"></i>
            <span>Level 1.1</span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="javascript:;">
                <i class="toggle-accordion"></i>
                <span>Level 2.1</span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="javascript:;">
                    <span>Level 3.1</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <span>Level 3.2</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:;">
                <span>Level 2.2</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;">
            <span>Level 1.2</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- menu levels -->
  </ul>
</nav>
<!-- /main navigation -->
</div>
